@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #442363;
	color: rgb(255, 255, 255);
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: 'Comic Neue', cursive;
}

.nav {
	background: rgb(68, 35, 99);
	background: linear-gradient(
		0deg,
		rgba(68, 35, 99, 1) 0%,
		rgba(42, 16, 67, 1) 100%
	);
}

.principal {
	/* background-image: url('/Sendokai_Multiverso.webp'); */
	background-repeat: no-repeat;
	background-size: cover;
}

.btn-main {
	--glow-color: rgba(255, 176, 248, 0.752);
	--glow-spread-color: rgba(255, 123, 218, 0.668);
	--enhanced-glow-color: rgba(231, 206, 255, 0.8);
	--btn-color: rgb(85, 52, 115);
	border: 0.25em solid var(--glow-color);
	padding: 1em 3em;
	color: var(--glow-color);
	font-size: 15px;
	font-weight: bold;
	background-color: var(--btn-color);
	border-radius: 1em;
	outline: none;
	box-shadow: 0 0 1em 0.25em var(--glow-color),
		0 0 4em 1em var(--glow-spread-color),
		inset 0 0 0.75em 0.25em var(--glow-color);
	text-shadow: 0 0 0.5em var(--glow-color);
	position: relative;
	transition: all 0.3s;
}

.btn-main::after {
	pointer-events: none;
	content: '';
	position: absolute;
	top: 120%;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: var(--glow-spread-color);
	filter: blur(2em);
	opacity: 0.7;
	transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

.btn-main:hover {
	color: var(--btn-color);
	background-color: var(--glow-color);
	box-shadow: 0 0 1em 0.25em var(--glow-color),
		0 0 4em 2em var(--glow-spread-color),
		inset 0 0 0.75em 0.25em var(--glow-color);
}

.btn-main:active {
	box-shadow: 0 0 0.6em 0.25em var(--glow-color),
		0 0 2.5em 2em var(--glow-spread-color),
		inset 0 0 0.5em 0.25em var(--glow-color);
}

/* The switch - the box around the slider */
.switch {
	font-size: 17px;
	position: relative;
	display: inline-block;
	width: 3.5em;
	height: 2em;
}

/* Hide default HTML checkbox */
.switch .input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #311947;
	transition: 0.4s;
	border-radius: 30px;
}

.slider:before {
	position: absolute;
	content: '';
	height: 1.4em;
	width: 1.4em;
	border-radius: 20px;
	left: 0.3em;
	bottom: 0.3em;
	background-color: #ea3131;
	transition: 0.4s;
}

.input:checked + .slider {
	background-color: #c7bde4;
}

.input:focus + .slider {
	box-shadow: 0 0 1px #000;
}

.input:checked + .slider:before {
	transform: translateX(1.5em);
}
